

services:

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@hackaton.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5050:80"
    depends_on:
      - db
 
  db:
    image: postgis/postgis:15-3.4-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=hackaton_db
      - POSTGRES_USER=hackaton_user
      - POSTGRES_PASSWORD=hackaton_password
    ports:
      - "5432:5432"

 
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=hackaton_db
      - DB_USER=hackaton_user
      - DB_PASSWORD=hackaton_password
      - DB_HOST=db
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    entrypoint: ["sh","/app/entrypoint.sh"]
    command: python manage.py runserver 0.0.0.0:8000
      

 
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules 
    ports:
      - "5173:5173"
    depends_on:
      - backend
      

volumes:
  postgres_data:
